{#**
  * Copyright since 2007 PrestaShop SA and Contributors
  * PrestaShop is an International Registered Trademark & Property of PrestaShop SA
  *
  * NOTICE OF LICENSE
  *
  * This source file is subject to the Academic Free License 3.0 (AFL-3.0)
  * that is bundled with this package in the file LICENSE.md.
  * It is also available through the world-wide-web at this URL:
  * https://opensource.org/licenses/AFL-3.0
  * If you did not receive a copy of the license and are unable to
  * obtain it through the world-wide-web, please send an email
  * to license@prestashop.com so we can send you a copy immediately.
  *
  * @author    PrestaShop SA <contact@prestashop.com>
  * @copyright Since 2007 PrestaShop SA and Contributors
  * @license   https://opensource.org/licenses/AFL-3.0 Academic Free License 3.0 (AFL-3.0)
  *#}
{# {% set layoutHeaderToolbarBtn = {
  'add' : {
    'href': path('demo_configuration_form'),
    'desc': 'Switch to Simple Forms',
    'icon': 'add_to_photos'
  }
} %} #}

{% extends '@PrestaShop/Admin/layout.html.twig' %}
{% form_theme demoConfigurationOtherForm '@PrestaShop/Admin/TwigTemplateForm/prestashop_ui_kit.html.twig' %}
  {% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('../modules/demosymfonyform/views/css/multipleForms.css') }}" type="text/css" media="all">
  {% endblock %}

{% block content %}

  {{ form_start(demoConfigurationOtherForm, {attr : {class: 'form'}, action: path('demo_configuration_other_form_save') }) }}
  <div class="card">
    <h3 class="card-header">
      <i class="material-icons">settings</i> {{ 'Table Data'|trans({}, 'Modules.DemoSymfonyForm.Admin') }}
    </h3>
    <div class="card-body">
      <div class="form-wrapper">
          <div class="form-group row">
              {% dump(countries) %}
              <div class="col-sm">
                  {% if demoConfigurationOtherForm.vars.value.table_data is not empty %}
                      <table class="table table-bordered">
                          <thead>
                          <tr>
                              <th>Products</th>
                              <th>Country</th>
                              <th>Start Fee</th>
                              <th>Extra Fee</th>
                              <th>Actions</th>
                          </tr>
                          </thead>
                          <tbody>
                          {% for row in demoConfigurationOtherForm.vars.value.table_data %}
                              <tr>
                              <td>
                                <select class="form-control" name="products[]" multiple data-multi-select>
                                  {% for product in products %}
                                    <option value="{{ product.id_product }}">{{ product.name }}</option>
                                  {% endfor %}
                                </select>
                              </td>
                              <td>
                                <select class="form-control" name="countries[]">
                                  {% for country in countries %}
                                  <option value="{{ country.id_country }}" {% if country.id_country == row.country %}selected{% endif %}>
                                    {{ country.name }}
                                  </option>
                                      {{ country.name }}
                                    </option>
                                  {% endfor %}
                                </select>
                              </td>

                                  {# <td><input type="text" class="form-control" value="{{ row.country }}"></td> #}
                                  <td><input type="number" class="form-control" value="{{ row.start_fee }}"></td>
                                  <td><input type="number" class="form-control" value="{{ row.extra_fee }}"></td>
                                  <td>
                                     <button class="btn btn-sm btn-primary save-row">Save</button>
                                      <button class="btn btn-sm btn-danger delete-row" disabled>Delete</button>
                                  </td>
                              </tr>
                          {% endfor %}
                          </tbody>
                      </table>
                  {% else %}
                      <p>{{ 'No table data found.'|trans({}, 'Modules.DemoSymfonyForm.Admin') }}</p>
                  {% endif %}
              </div>
          </div>
      </div>
    </div>
  </div>
  {{ form_end(demoConfigurationOtherForm) }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('../modules/demosymfonyform/views/js/multipleForms.js') }}"></script>
  <script src="{{ asset('../modules/demosymfonyform/views/js/MultiSelect.js') }}"></script>
{% endblock %}